/* --------------------- NAVBAR ----------------------------- */
.navbar {
   /* Header */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 0px;


  }
  
  .navbar .head {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    gap: 2rem;
  }
  
  .navbar .icons {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    gap: 2rem;
  }

  .subnav{
    /* Group 1 */

position: absolute;
left: 3.75%;
right: 6.94%;
top: 29%;
bottom: 30%;


  }

  .logo{
   /* Frame 168 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 5px;

position: absolute;
left: 3.75%;
right: 83.4%;
top: 29%;
bottom: 30%;


  }


  .navbtns{
    /* Group 2 */

position: absolute;
left: 35.07%;
right: 35.07%;
top: 38%;
bottom: 38%;
  }

  

  .icon1{
    /* mdi:account-alert-outline */

position: absolute;
left: 75.9%;
right: 22.15%;
top: 36%;
bottom: 36%;
font-size: 30px;


  }


  .icon2{
        /* mdi:account-alert-outline */
    
    position: absolute;
    left: 81.9%;
    right: 22.15%;
    top: 36%;
    bottom: 36%;
    font-size: 30px;
    
    
      }
      .icon3{
        /* mdi:account-alert-outline */
    
    position: absolute;
    left: 87%;
    right: 22.15%;
    top: 36%;
    bottom: 36%;
    font-size: 30px;
    
    
      }

      .icon4{
        /* mdi:account-alert-outline */
    
    position: absolute;
    left: 93.9%;
    right: 22.15%;
    top: 36%;
    bottom: 36%;
    font-size: 30px;
    
    
      }


      .heading{
    /* SkinClinic */

width: 130px;
height: 41px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 41px;
margin-top: 30px;
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

      }

      .logo2{
        /* Meubel House_Logos-05 */

width: 50px;
height: 32px;
top: 0%;
/* background: url(Meubel House_Logos-01.png); */

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

      }
