/* -------------------cardsss -------------------------------- */

.cardsContainer{
  
    display: grid;
    /* grid-template-columns: ; */
    grid-template-columns:  repeat(4, 1fr);    
    gap: 0.1rem; 
    padding: 20px; 
    justify-items: center;

    /* display: flex; */
}


.productBtn{
  align-self: center;
}

.slideSection{
  display: grid;
  /* grid-template-columns: ; */
  grid-template-columns:  repeat(3, 1fr);    
  /* gap: 0;  */
  padding: 2rem; 
  justify-items: center;
  /* align-items: center; */
}
.productTiltle{
  
}
